.Rechercher-Enseignant-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Rechercher-Enseignant {
    display: flex;
    flex-direction: column;
    min-width: 35vw;
    border: 5px solid #f1f5f9;
    border-radius: 15px;
    padding: 25px 15px;
    align-items: center;
    gap: 40px;
}
.Rechercher-Enseignant .Label-Enseignant {
    font-weight: bold;
    font-size: 18px;
}
