.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.ens,
.mat {
    display: flex;
    margin-left: 10px;
}
.ens1,
.mat1 {
    font-weight: bold;
    display: flex;
    margin-left: 10px;
}

.type1 {
    font-weight: bold;
    display: flex;
    margin-left: 10px;
}
.type {
    display: flex;
    margin-left: 10px;
}
.mess {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    margin-left: 10px;
}
.FormulaireContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
