.dropbtn {
    background-color: #f8f8ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e2e8f0;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    color: #334155;
    text-decoration: none;
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #334155;
    color: #fff;
}

.page-link:hover {
    background-color: #ddd;
}
