.form {
    display: flex;
    justify-content: center;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Consultation_Enseignant {
    position: absolute;
    width: 1000px;
    height: 700px;
    left: 300px;
}

.Avatar {
    width: 70px;
    height: 70px;
}

table {
    border-spacing: 0;
    border: 1px solid black;
}
table tr td {
    border-bottom: 0;
    border-bottom: 1px solid black;
}

table th,
td {
    margin: 0;
    padding: 0.3rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}
