.ConsultationVeuxContainner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FrameTitle{
    display: flex ; 
}
.AccordationChargeContainner {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 15px;
}
