@tailwind base;
@tailwind components;
@tailwind utilities;

.ps-menu-button:hover {
    background-color: #f1f5f9 !important;
    color: white;
}

.css-dip3t8 {
    background-color: #fff !important;
}